#slider-top-item {
    overflow: hidden;/*  chú thích */
}

.item-stage-outer {
    min-height: 280px;
}

.item-stage-outer .item-stage {
    min-width: 2000px;
}

.item-stage > .carousel-item {
    display: inline-block;
    width: 200px;
    margin-right: 34px;
}

.item-stage .detail-list-items .detail-items {
    height: 280px;
    width: 200px;
    position: relative;
}

.detail-items .top-img {
    height: 280px;
    width: 200px;
    position: absolute;
    background-size: cover;
}

.detail-list-items .title-items {
    position: absolute;
    bottom: 0;
}


.pagination-item {
    text-align: center;
    margin-top: 10px;
}