* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}



#header {
    height: 60px;
    background-color: var(--white-color);
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#nav {
    display: flex;
}

#nav .nav-logo {
    line-height: 60px;
    font-size: 18px;
    padding-right: 16px;
}

#nav .nav-logo a {
    text-decoration: none;
    display: block;
    width: 50px;
    height: 50px;
    margin: 5px 0;
}

#nav .nav-logo a img {
    width: 50px;
    height: 50px;
}

#nav .nav-container {
    font-size: 18px;

}

#nav .nav-menu {

}



.nav-container > .nav-menu > li {
    display: inline-block;
}

.nav-container .nav-menu li {
    position: relative;
}

.nav-container .nav-menu a {
    text-decoration: none;
    line-height: 60px;
    padding: 0 8px;
    display: block;
    color: var(--text-color);
    font-weight: 600;
}

.nav-container .sub-nav-menu {
    position: absolute;
    list-style-type: none; /*bỏ kiểu danh sách */
    background-color: white;
    top: 100%;
    left: 0;
    display: none;
    box-shadow: 0 0 4px #aaa;
}

.nav-container .sub-nav-menu li {
    min-width: 160px;
}

.nav-container .sub-nav-menu a {
    line-height: 60px;
}

.nav-container li:hover .sub-nav-menu {
    display: block;
}

.nav-menu > li > a:hover,
.sub-nav-menu li:hover a {
    color: #039be5;
}


.nav-container-user {
    display: flex;
    font-size: 16px;
}

.nav-container-user .nav-search {
    position: relative;
    width: 210px;
    height: 32px;
    /* background-color: #ccc; */
    margin-top: 14px;
    border-radius: 20px;
    /* border: 1px solid #0dcaf0; */
    margin-inline-end: 25px;
}

.nav-container-user .nav-search .search-input {

    padding-left: 20px;
    padding-right: 40px;
    /* margin-left: 20px; */
    width: 100%;
    height: 32px;
    border: 0;
    outline: none;
    font-size: 14px;
    border-radius: 20px;
    background-color: #ADADB838;
    
}

.nav-container-user .nav-search .search-input:focus {
    border: 1px solid #0dcaf0;
    background-color: #ADADB838;
}

.nav-container-user .nav-search .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: black;
    margin-top: 2px;
    margin-right: 3px;

}

.nav-container-user .nav-user {

}

.nav-container-user .nav-user li {
    display: inline-block;
    line-height: 60px;
    padding: 0 8px;
}

.nav-container-user .nav-user a {
    text-decoration: none;
    padding: 10px 12px;

}

.nav-container-user .nav-user .login-user {
    background-color: var(--login-color);
    color: var(--sigup-color);
    font-weight: 600;/*  độ dày chữ */
    border-radius: 0.4rem;
}

.nav-container-user .nav-user .sigup-user {
    background-color: var(--sigup-color);
    color: var(--white-color);
    font-weight: 600;    
    border-radius: 0.4rem;
}

#profile {

}

#main {

}

.profile-user {
    padding-bottom: 20px;
}

.profile-background {
    position: relative;
    justify-content: center;
    height: 348px;
    margin-top: 60px;
}

.profile-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.save-edit-img-profile {

}

.profile-background-container {
    height: 100%;
    background-color: #ccc;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 10px 10px;
    object-fit: cover;
    overflow: hidden;
}

.detail-profile-background {
    border-radius: 0 0 10px 10px;
    position: relative;
    z-index: 0;
    height: auto;
    top: 0%;
}

.background-sub {
    overflow: hidden;
    position: absolute;
    pointer-events: none;

}

.background-data {
    background-image: url('/public_html/assets/img/background-profile/saekano.jpg');
}

.profile-info {
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
    z-index: 0;
    padding: 0 30px;
    border-bottom: 1px solid;
    border-color: #e4e5e7 #dadbdd hsla(214, 4%, 80%, .8);
}

.profile-container {

}

.avatar-profile {
    position: relative;
    height: 120px;
    width: 172px;
    border-radius: 50%;
    background-size: cover;

}

.avatar-profile-user {
    height: 172px;
    width: 172px;
    border-radius: 50%;
    background: white;
    top: -72px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.avatar-data {
    background-image: url('/public_html/assets/img/avt/jindou-hikari.jpg');
    background-size: cover;
    border-radius: 50%;
    width: 164px;
    height: 164px;
    border: solid 0.5px rgba(0, 0, 0, 0.3);
    position: relative;

}

.info-user {
    padding: 0 20px;
}

.name-user {
    margin-top: 20px;
    font-size: 32px;
    font-weight: 700;
    height: inherit;
}

.container {
    min-height: 500px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.statistic-profile {
    padding: 10px 0;
    background-color: hsla(0, 0%, 100%, .9);
    border-color: #e4e5e7 #dadbdd hsla(214, 4%, 80%, .8);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 16px;
}

.title-profile {
    margin: 0 20px 20px;
    width: 100%;
}

.level-profile {
    justify-content: space-between;
    width: 100%;
}

.level-profile strong {
    height: 20px;
    font-size: 14px;
    font-weight: 500;
}

.exp-profile {
    width: 100%;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    position: relative;
    height: 20px;
}

.detail-exp-profile {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
    width: 50%;
    height: 100%;
    border-radius: 9999px;
    --tw-text-opacity: 1;
    color: rgb(219 234 254 / var(--tw-text-opacity));
}

.rate-exp-profile {
    padding: 2px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.text-exp-profile {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}

.statistic-value {
    height: 30px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
}

.statistic-name {
    height: 21px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
}

.sect-body {
    padding: 15px;
}

.profile-info-items {
    padding-bottom: 4px;
}

.detail-info-items {
    font-size: 14px;
}

.profile-showcase {
    padding-top: 10px;
    background-color: hsla(0, 0%, 100%, .9);
    border-color: #e4e5e7 #dadbdd hsla(214, 4%, 80%, .8);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 16px;
}

.profile-showcase header {
    border-bottom: 4px solid #111;
    margin: 0 15px 20px;
}

.profile-showcase header span{
    font-size: 20px;
    font-weight: 700;
}

.showcase-item {
    margin-bottom: 20px;
}

.series-showcase-item {

}

.showcase-item-img {
    position: relative;
}

.showcase-item-img::before {
    content: "";
    display: block;
    padding-top: 143.3333333333%;
    width: 100%;
}

.showcase-item-img a{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50%;
}

.title-showcase-item {
    padding: 0 15px 0 30px;
    position: relative;
    width: 100%;
}

.series-info {
    padding: 10px 10px 10px 0;
}

.title-series {
    font-size: 16px;
    font-weight: 700;
}

.title-series a{
    text-decoration: none;
    color: black;
}

.detail-series {
    padding-right: 10px;
    
}

.chapter-info a {
    text-decoration: none;
}

.chapter-info {
    display: inline-block;
    font-size: 14px;
}

.chapter-info a {
    color: black;
}

.detail-time-info {
    display: inline-block;
    float: right;
    color: #999;
    font-size: 13px;
}
