* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

#main {

}

#header {
    height: 60px;
    background-color: var(--white-color);
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#nav {
    display: flex;
}

#nav .nav-logo {
    line-height: 60px;
    font-size: 18px;
    padding-right: 16px;
}

#nav .nav-logo a {
    text-decoration: none;
    display: block;
    width: 50px;
    height: 50px;
    margin: 5px 0;
}

#nav .nav-logo a img {
    width: 50px;
    height: 50px;
}

#nav .nav-container {
    font-size: 18px;

}

#nav .nav-menu {

}



.nav-container > .nav-menu > li {
    display: inline-block;
}

.nav-container .nav-menu li {
    position: relative;
}

.nav-container .nav-menu a {
    text-decoration: none;
    line-height: 60px;
    padding: 0 8px;
    display: block;
    color: var(--text-color);
    font-weight: 600;
}

.nav-container .sub-nav-menu {
    position: absolute;
    list-style-type: none; /*bỏ kiểu danh sách */
    background-color: white;
    top: 100%;
    left: 0;
    display: none;
    box-shadow: 0 0 4px #aaa;
}

.nav-container .sub-nav-menu li {
    min-width: 160px;
}

.nav-container .sub-nav-menu a {
    line-height: 60px;
}

.nav-container li:hover .sub-nav-menu {
    display: block;
}

.nav-menu > li > a:hover,
.sub-nav-menu li:hover a {
    color: #039be5;
}


.nav-container-user {
    display: flex;
    font-size: 16px;
}

.nav-container-user .nav-search {
    position: relative;
    width: 210px;
    height: 32px;
    /* background-color: #ccc; */
    margin-top: 14px;
    border-radius: 20px;
    /* border: 1px solid #0dcaf0; */
    margin-inline-end: 25px;
}

.nav-container-user .nav-search .search-input {

    padding-left: 20px;
    padding-right: 40px;
    /* margin-left: 20px; */
    width: 100%;
    height: 32px;
    border: 0;
    outline: none;
    font-size: 14px;
    border-radius: 20px;
    background-color: #ADADB838;
    
}

.nav-container-user .nav-search .search-input:focus {
    border: 1px solid #0dcaf0;
    background-color: #ADADB838;
}

.nav-container-user .nav-search .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: black;
    margin-top: 2px;
    margin-right: 3px;
    cursor: pointer;

}

.nav-container-user .nav-user {

}

.nav-container-user .nav-user li {
    display: inline-block;
    line-height: 60px;
    padding: 0 8px;
}

.nav-container-user .nav-user button {
    text-decoration: none;
    padding: 10px 12px;

}

.nav-container-user .nav-user .login-user {
    background-color: var(--login-color);
    color: var(--sigup-color);
    font-weight: 600;/*  độ dày chữ */
    border-radius: 0.4rem;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.nav-container-user .nav-user .sigup-user {
    background-color: var(--sigup-color);
    color: var(--white-color);
    font-weight: 600;    
    border-radius: 0.4rem;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#banner {
    margin-top: 60px;
    
}

.banner-item {
    /* background: url('/public_html/assets/img/slider/megumi-bg.jpg') top center / cover no-repeat; */
    background: url('/public_html/assets/img/slider/megumi-bg.jpg') top center /contain no-repeat;
    /* background-size: cover; lấy chiều dài nhất bức ảnh  */
    /* background-size: contain; lấy chiều dài nhất bức ảnh với điều kiện ko che khuất */
    width: 100%;
    /* height: 50vh; 50vh = 50% khung nhìn */
    height: 289px;
    /* khung nhìn là màn hình hiển thị */
}

#mainpart {
    display: block;
    padding-top: 20px;
    padding-bottom: 0;
    min-height: 350px;
    width: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding: 20px 0;
}

.daily-recent-view {
    /* background: red; */
    min-height: 330px;
}

.daily-view-container {
    padding: 7px 0;
}


.daily-recent-view .title strong {
    display: inline-block;
    margin-right: 10px;
    
}

.daily-recent-view .title strong a {
    text-decoration: none;
    color: #aaa;    
    font-size: 16px;
    letter-spacing: 1px;
}

.daily-recent-view .title strong a:hover {
    color: var(--sigup-color);
}

#slider-top-item {
    /* overflow: hidden; chú thích */
    width: 930px;
    min-height: 280px;
    margin-top: 10px;
    z-index: 0;
}



.detail-list-items {
    height: 280px;
    width: 200px;
    position: relative;
}

.top-img {
    height: 280px;
    width: 200px;
    position: absolute;
    background-size: cover;
}
.title-items {
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .8) 67%, rgba(0, 0, 0, .8));
    left: 0;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    width: 100%;
}

.title-items .series-title {
    font-size: 16px;
    font-weight: 700;
    height: 44px;
    /* line-height: 22px;
    line-height: 1.375rem; */
    margin-bottom: 4px;
    margin-top: 6px;
    overflow: hidden;
    text-align: center;

}

.series-title a {
    color: inherit;
    text-decoration: inherit;
    color: white;
    display: block;
}

.series-title a:hover {
    color: var(--sigup-color);
}


.forum {
    /* background: BLUE; */
    min-height: 100%;
}

.forum-container {
    padding: 18px 0;
}

.forum .title strong {
    color: white;
    display: inline-block;
}

.forum .title strong.title-empty{
    color: black;    
    font-size: 16px;
    margin: 6px;
    text-transform: uppercase;
    text-decoration: 2px underline;
    /* position: relative; */
}

.forum .title strong.title-empty:hover{
    color: var(--sigup-color);   
}

/* .forum .title strong.title-empty::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px; Điều chỉnh khoảng cách này để thay đổi khoảng cách giữa chữ và dấu gạch chân
    height: 1px; Độ dày của dấu gạch chân
    background-color: black;  Màu sắc của dấu gạch chân
} */

.list-forum {
    /* margin-top: 10px; */
}

.forum-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-forum i {
    margin-right: 4px;
    font-size: 14px;
}
.title-forum {
    font-size: 14px;
    text-decoration: none;
    color: inherit;
}

.title-forum:hover {
    color: var(--sigup-color);
}

.forum-time {
    position: relative;
}

.timeago {
    position: absolute;
    right: 0;
    font-size: 14px;
    color: rgba(0, 0, 0, .4);
}

.item-new {
    min-height: 330px;
    margin-bottom: 40px;
}

.item-new-container {
    padding: 16px 0;
}

.item-new-container a strong {
    display: inline-block;
}

.item-new-container strong.title-empty:hover{
    color: var(--sigup-color);   
}

.list-item-new {

}

.detail-item-new {
    margin: 10px 0;
}

.item-new-wrapper {
    position: relative;
    width: 130px;
    height: 186px;
    color: white;
}

.item-new-wrapper .new-img {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.title-items-new {
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .8) 67%, rgba(0, 0, 0, .8));
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    width: 100%;
}

.title-items-new .chapter-item-new {
    
}

.title-items-new .chapter-item-new a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.title-items-new .chapter-item-new a:hover {
    color: var(--text-color-hover);
}

.title-items-new .time-item-new .time-new {
    font-size: 13px;
    color: var(--text-color-hover);
}

.series-title-new {
    width: 130px;
    height: 42px;
    margin-bottom: 4px;
    margin-top: 6px;
    text-align: center;
    overflow: hidden;
    font-weight: 700;
}

.series-title-new a {
    font-size: 14px;
    text-decoration: none;
    color: black;
    display: block;
}

.series-title-new a:hover {
    color: var(--text-color-hover);
}

.see-more-content {
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.see-more-icon {
    font-size: 50px;
    position: absolute;
    text-align: center;
    border: 1px solid #eee;
    height: 100%;
    position: relative;
    width: 100%;
}

.see-more-icon a {
    text-decoration: none;
    color: white;
}

.see-more-icon a:hover {
    color: var(--sigup-color);
}

.see-more-icon a i {
    width: 110px;
    line-height: 166px;
}


.item-update {
    min-height: 330px;

}

.item-update-container {
    padding: 16px 0;
}

.item-update-container a strong {
    display: inline-block;
}

.item-update-container strong.title-empty:hover{
    color: var(--sigup-color);   
}

.list-item-update {
    
}

.detail-item-update {
    margin: 10px 0;
}

.item-update-wrapper {
    position: relative;
    width: 130px;
    height: 186px;
    color: white;
}

.item-update-wrapper .update-img {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.title-items-update {
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .8) 67%, rgba(0, 0, 0, .8));
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    width: 100%;
}

.title-items-update .chapter-item-update {
    
}

.title-items-update .chapter-item-update a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.title-items-update .chapter-item-update a:hover {
    color: var(--text-color-hover);
}

.title-items-update .time-item-update .time-update {
    font-size: 13px;
    color: var(--text-color-hover);
}

.series-title-update {
    width: 130px;
    height: 42px;
    margin-bottom: 4px;
    margin-top: 6px;
    text-align: center;
    overflow: hidden;
    font-weight: 700;
}

.series-title-update a {
    font-size: 14px;
    text-decoration: none;
    color: black;
    display: block;
}

.series-title-update a:hover {
    color: var(--text-color-hover);
}


.follow-item {
    min-height: 330px;
    margin-bottom: 40px;
}

.follow-item-container {
    padding: 16px 0;
}

.follow-item-container strong{

}

.follow-item-container strong a{
    display: inline-block;
}

.list-follow-item {
    padding-top: 10px;
}

.detail-follow-item {
    padding-bottom: 12px;
}

.series-folow-item {
    height: 70px;
    width: 50px;
    position: relative;
}

.series-folow-item a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.title-follow-item {
    padding: 0 15px;
}

.text-follow-item {
    padding-bottom: 2px;
}

.text-follow-item a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: black;
}

.text-follow-item a:hover{
    color: var(--text-color-hover);
}

.chapter-follow-item {

}

.chapter-follow-item a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: block;
    text-decoration: none;
    font-size: 13px;
    color: black;
}

.chapter-follow-item a:hover {
    color: var(--text-color-hover);
}

.comment {
    min-height: 330px;

}

.comment-container {
    padding: 16px 0;
}

.comment-container strong {

}

.comment-container strong a{
    display: inline-block;
}

.list-comment {
    height: 700px;
    overflow: auto;
    padding-right: 20px;
}

.comment-info {
    border-bottom: 1px solid #d4dae2;
    padding-bottom: 10px;
    padding-top: 10px;
}

.series-name {
    margin-bottom: 6px;
}
.series-name a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: block;
}

.series-name a:hover {
    color: var(--text-color-hover);
}

.comment-user {
    margin-bottom: 6px;
}


.comment-user-avt {
    width: 24px;
    height: 24px;
    margin-right: 6px;
    float: left;
}

.comment-user-avt a {
    color: black;
    font-size: 14px;
}

.comment-user-avt a img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: block;
}

.comment-user-name {
    display: inline-block;
}

.comment-user-name a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: black;
}

.time-user-comment {
    color: rgba(0, 0, 0, .4);
    float: right;
}

.time-comment {

}

.comment-content {
    font-size: 13px;
}


#footer {
    width: 100%;
    height: 100px;
    background-color: #333;
}

#footer h1 {
    text-align: center;
    line-height: 100px;
    color: white;
}

.auth-form {

}

.auth-form__container {
    padding: 32px;
    text-align: center;
}

.auth-form__logo {
    width: 60px;
    height: 60px;
    margin: 0 auto 20px;
    background-size: 100% 100%;
}

.auth-form__header {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
    color: #242629;
    text-align: center;
    margin: 18px 0;
}

.auth-form__form {

}

.auth-form__group {
    border-radius: 12px;
    border: 1px solid #c0c4cc;
    width: 100%;
    line-height: 32px;
    position: relative;
    margin-top: 16px;
}

.auth-form__input {
    border-radius: 12px;
    padding: 14px;
    width: 100%;
    font-size: 14px;
    border: none;
    outline: 0;
}

.auth-form__submit {
    margin-top: 20px;
    margin-bottom: 12px;
    border: none;
    outline: none;
    padding: 16px;
    width: 100%;
    background-color: var(--sigup-color);
    font-size: 14px;
    border-radius: 12px;
}

.auth-form__submit span{
    
}

.auth-form__control {

}

.auth-form__forget-password {
    display: inline-block;
    font-size: 14px;
    
}

.auth-form__forget-password a{
    text-decoration: none;
    color: #606266;
}

.auth-form__sign-up {
    display: inline-block;
    font-size: 14px;
    
}

.auth-form__aside {
    margin-top: 16px;
    font-size: 12px;
}
.auth-form__checkbox {
    display: flex;

}

.auth-form__checkbox-input {
    position: relative;
    display: inline-block;
    margin-top: 2px;
}

.auth-form__checkbox-original {
    display: none; /* Ẩn checkbox gốc */
}

.auth-form__checkbox-inner {
    cursor: pointer;
    position: absolute;
    width: 19px;
    height: 19px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 50%; /* Tạo hình tròn */
}

/* Đặt dấu kiểm */
.auth-form__checkbox-inner::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 5px;
    top: 4px;
    left: 4px;
    background: transparent;
    border: 2px solid white;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    display: none; /* Ẩn dấu kiểm ban đầu */
}

/* Khi checkbox được chọn, hiện dấu kiểm */
.auth-form__checkbox-original:checked + .auth-form__checkbox-inner::after {
    display: block;
    opacity: 0.8;
}

/* Thay đổi nền và màu đường viền khi được chọn */
.auth-form__checkbox-original:checked + .auth-form__checkbox-inner {
    background-color: #039be5; /* Màu nền khi checkbox được chọn */
    border-color: #039be5; /* Màu đường viền khi checkbox được chọn */
}



.auth-form__checkbox-text {
    font-size: 12px;
    color: #6b707b;
    text-align: left;
    margin-left: 30px;
}

.auth-form__checkbox-text span {

}


.auth-form__checkbox-text a {
    text-decoration: none;
    color: red;
}

.auth-form__submit {
    background-color: var(--sigup-color);
}

.auth-form__had-account {
    display: inline-block;
    font-size: 14px;
    
}

.auth-form__had-account a{
    text-decoration: none;
    color: #606266;
}

.auth-form__sign-in {
    display: inline-block;
    font-size: 14px;
}

.auth-form__close {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 16px;
    right: 16px;
    user-select: none;
    font-size: 14px;
    cursor: pointer;
}

